In [8]:
import numpy as np
import pandas as pd

dict1 = {
    "name":['Julie','john','jas'],
    "age":[10,20,30],
    "city":['pune','mumbai','dilhi'],
}

df = pd.DataFrame(dict1)

df

    name  age    city
0  Julie   10    pune
1   john   20  mumbai
2    jas   30   dilhi

In [4]:
import pandas as pd

pd.read_csv('C:\\Users\\DELL\\Desktop\\lecture 04 student_results (1).csv')

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [ ]:
import pandas as pd
import numpy as np

i = np.array(['pune','mumbai','delhi','agra','nagpur','solapur'])

j = pd.Series(i)

print(j)

In [22]:
import pandas as pd

i = ['a','b','c','d','e','f','g']

df = pd.DataFrame(i)

print(df)

   0
0  a
1  b
2  c
3  d
4  e
5  f
6  g

In [23]:
import pandas as pd

i = pd.Series()

print(i)

Series([], dtype: float64)

<ipython-input-23-16d856854327>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  i = pd.Series()

In [24]:
import pandas as pd
import numpy as np

i = np.array([10,20,30,40,50,'c','c++','java','python',10.65])

j = pd.Series(i)

print(j)

0        10
1        20
2        30
3        40
4        50
5         c
6       c++
7      java
8    python
9     10.65
dtype: object

In [25]:
import pandas as pd
import numpy as np

i = {'a':10,'b':20,'c':30,'d':40}

j = pd.Series(i)

print(j)

a    10
b    20
c    30
d    40
dtype: int64

In [28]:
import pandas as pd
import numpy as np

i = pd.Series('julie',index=[0,1,2,3])

print(i)

0    julie
1    julie
2    julie
3    julie
dtype: object

In [31]:
import pandas as pd
import numpy as np

i = pd.Series(['a','b','c','d','e','f'],index=[0,1,2,3,4,5])

print(i)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [2]:
import pandas as pd
import numpy as np

i = pd.Series(['a','b','c','d','e','f','g','h','i'],index=[0,1,2,3,4,5,6,7,8])

print(i)

print(i[0])

print(i[4])

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object
a
e

In [3]:
print(i[7])

h

In [7]:
import pandas as pd
import numpy as np

i = pd.Series(['ani','bni','cni','d','e','f','g'],index=['a','b',2,3,4,5,6])

print(i)
print(i.index)

a    ani
b    bni
2    cni
3      d
4      e
5      f
6      g
dtype: object
Index(['a', 'b', 2, 3, 4, 5, 6], dtype='object')

In [10]:
import pandas as pd
import numpy as np

i = pd.Series(['c++','html','php','python'],index=['a','b',2,3])
j = pd.Series(['c++','html','php','python'])

print(i)
print()
print(j)

a       c++
b      html
2       php
3    python
dtype: object

0       c++
1      html
2       php
3    python
dtype: object

In [13]:
import pandas as pd
import numpy as np

i = pd.Series(['apple','banana','mango','graps'],index=['a','b',2,3])
j = pd.Series(['demp1','demo2','demo3','demo4'])

print(i)
print()
print(j)

print(i.values)
print()
print(j.values)

a     apple
b    banana
2     mango
3     graps
dtype: object

0    demp1
1    demo2
2    demo3
3    demo4
dtype: object
['apple' 'banana' 'mango' 'graps']

['demp1' 'demo2' 'demo3' 'demo4']

In [14]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series([10.1,20.2,30.3,40.4,50.5])

print(i)
print()
print(j)

print(i.dtype)

print(j.dtype)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    10.1
1    20.2
2    30.3
3    40.4
4    50.5
dtype: float64
int64
float64

In [15]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
k = pd.Series(['a','b','c'])

print(i)
print()
print(k)

print(i.shape)
print(k.shape)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
(5,)
(3,)

In [18]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
k = pd.Series(['a','b','c'])

print(i)
print()
print(k)

print(i.ndim,k.ndim)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
1 1

In [19]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series(['a','b','c'])

print(i)
print()
print(j)

print(i.size)
print(j.size)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
5
3

In [20]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series(['a','b','c','d'])
k = pd.Series([])

print(i)
print()
print(j)
print()
print(k)

print(i.empty)
print(j.empty)
print(k.empty)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
3    d
dtype: object

Series([], dtype: float64)
False
False
True

<ipython-input-20-2b3613d6ea27>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [21]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50,np.NaN])
j = pd.Series(['a','b','c'])
k = pd.Series([])

print(i)
print(j)
print(k)

print(i.hasnans)
print(j.hasnans)
print(k.hasnans)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5     NaN
dtype: float64
0    a
1    b
2    c
dtype: object
Series([], dtype: float64)
True
False
False

<ipython-input-21-30321202befa>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [22]:
import pandas as pd

print(pd.__version__)

1.1.3

In [23]:
import pandas as pd

i = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'],dtype=float)

i

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
dtype: float64

In [24]:
import pandas as pd

i = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'],dtype=float,name="Data values")

i

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
Name: Data values, dtype: float64

In [28]:
import pandas as pd

i = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])

i

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [29]:
i[1:4]

b    20
c    30
d    40
dtype: int64

In [30]:
import pandas as pd

i = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])

i

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [31]:
min(i)

10

In [32]:
max(i)

50

In [35]:
import pandas as pd

i = pd.Series([10,20,30,40])
j = pd.Series([1,2,3,4])

print(i)

print(j)

0    10
1    20
2    30
3    40
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

In [36]:
i + j

0    11
1    22
2    33
3    44
dtype: int64

In [37]:
import pandas as pd

i = pd.Series([10,20,30,40])
j = pd.Series([1,2,3,4,5])

print(i)
print(j)

i +  j

0    10
1    20
2    30
3    40
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
dtype: float64